*{
    margin:0;
    padding:0;
    
}

body{
    background-color: lightblue;
    /* font-family: 'Ubuntu', sans-serif; */
    margin:20px;
    background-color:blue;
    color:yellow;
}
main{
    /*font-size:100px;*/
    
}

header{
    font-size:30px;
    display:flex;
    justify-content: space-between;
    letter-spacing:2px;
    font-family: 'Ubuntu', sans-serif;
    color:lightblue;
    text-shadow:.5px .5px black;
}
.right-panel{
    display:flex;
}


.eq-wrapper{
    display:flex;
    justify-content:center;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
}

.equation{
    text-align:right;
    display:flex;
    align-items:center;
    padding:15px;
}

.equation div{
    width:140px;
    letter-spacing: 4px;
    /*margin:0px 50px;*/
    text-align:right;
    
    font-size:70px;
}


.eq-wrapper div input[type='text']{
    width:140px;
    border:1px solid black;
    height:60px;
    font-size:70px;
    border-radius:10px;
    text-align: right;
    font-family: Times, serif;
    background-color:khaki;
    color:brown;
    text-shadow:1px 1px black;
    box-shadow:.5px .5px black;
    letter-spacing: 4px;

}

div.operand, div.equalsSign{
    text-align:center;
}


.check-btn, .reset-btn{
    background-color:lightblue;
    width:100px;
    height:50px;
    margin-left:50px;
    font-size:30px;
    color:brown;
    /*text-shadow:1px 1px brown;*/
    border-radius:10px;
    border:2px solid brown;
    box-shadow:.5px .5px black;
    margin-top:5px;
}


.bonus-msg{
    font-family: 'Ubuntu', sans-serif;
    font-size:30px;

}

.check{
    color:yellow;

}

footer{
    position:absolute;
    bottom:50px;
    display:flex;


}
.footer-inner{
    position:relative;
    /*border:solid;*/
}

.fish{
    /*height:30px;*/
    position:absolute;
    
    left:10px;
}

.fishpic{
    height:50px;
}
.timer{
    font-size:30px;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing:2px;
    color:lightblue;
}













